.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 70px;
  margin-right: auto;
}

.footer__flex {
  display: flex;
  align-items: baseline;
}

.footer__nav {
  margin-right: 70px;
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--logo-color);
  font-family: var(--font-family-sacondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.second-logo-cl {
  color: var(--main-background-color);
}

.adress__link--adress {
  color: var(--main-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress__link {
  @extend .adress__link--adress;
  color: var(--addres-color);
}
